body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f2f2f2;
}

.movie-card {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
}

.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
}

.saved-list {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saved-list h3 {
  margin-right: 10px;
}

.saved-movie {
  margin: 0 10px;
}
.saved-active {
  color: blue;
  border: 1px solid grey;
  padding: 5px;
}
.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}

.home-button {
  padding: 5px 10px;
  background-color: lightskyblue;
}

.movie-warning {
  color: red;
  text-align: center;
}

.btn {
  width: 100px;
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  border-radius: 3px;
}

.btn:hover {
  cursor: pointer;
}

.save-btn {
  background-color: white;
  color: green;
  border: 1px solid green;
}

.save-btn:hover {
  background-color: green;
  color: white;
}

.edit-btn {
  background-color: white;
  color: dodgerblue;
  border: 1px solid dodgerblue;
}

.edit-btn:hover {
  background-color: dodgerblue;
  color: white;
}

.delete-btn {
  background-color: white;
  color: red;
  border: 1px solid red;
}

.delete-btn:hover {
  background-color: red;
  color: white;
}

.fetch-btn {
  background-color: white;
  color: lightcoral;
  border: 1px solid lightcoral;
}

.fetch-btn:hover {
  background-color: lightcoral;
  color: white;
}